/*question style*/

.question {
    position:relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
    margin: 50px;
    width: 200px;
    border: 1px solid #D0D0D8;
}

.question_small {
    height: 50px;
    border-radius: 11px;
}

.question_standart {
    height: 70px;
    border-radius: 15px;
}

.question_correct {
    background-color: #51B3660D;
    border: 1px solid #51B366 ;
}

.question_wrong {
    background: #EC59740D;
    border: 1px solid #EC5974 ;
}

.question_selected {
    background: #2869E866;
    border: 1px solid #2869E8CC ;
}

/*question triangle SMALL style*/
.question-triangle {
    position: absolute;
    display: block;
}

.question-triangle__right_small {
    z-index: 2;
    border: 23px solid transparent;
    border-left: 33px solid #D0D0D8;
    right: -52.5px;
}

.question-triangle__right_small:after {
    display: block;
    z-index: 3;
    content: "";
    border: 23px solid transparent;
    border-left: 33px solid rgb(255, 255, 255);
    position: absolute;
    right: -51.5px;
    top: -23px;
    width: 30px;
}

.question-triangle__left_small {
    left: -53.5px;
    z-index: 4;
    border: 23px solid transparent;
    border-right: 33px solid #D0D0D8;
}

.question-triangle__left_small:after {
    display: block;
    z-index: 5;
    content: "";
    border: 23px solid transparent;
    border-right: 34px solid rgb(255, 255, 255);
    position: absolute;
    left: -51.5px;
    top: -23px;
    width: 30px;
}

/*question triangle STANDART style*/
.question-triangle__right_standart {
    z-index: 6;
    border: 30px solid transparent;
    border-left: 34px solid #D0D0D8;
    right: -61.5px;
}

.question-triangle__right_standart:after {
    display: block;
    z-index: 7;
    content: "";
    border: 32px solid transparent;
    border-left: 35px solid rgb(255, 255, 255);
    position: absolute;
    right: -134.5px;
    top: -32px;
    width: 105px;
}

.question-triangle__left_standart {
    z-index: 8;
    border: 30px solid transparent;
    border-right: 34px solid #D0D0D8;
    left: -61.5px;
}

.question-triangle__left_standart:after {
    display: block;
    z-index: 9;
    content: "";
    border: 32px solid transparent;
    border-right: 35px solid rgb(255, 255, 255);
    position: absolute;
    left: -134.5px;
    top: -32px;
    width: 105px;
}

/*question HOVER SMALL style*/
.question:hover  {
    border: 1px solid #2869E8CC;
    background: #FFFFFF;
    cursor: pointer;
}

.question:hover .question-triangle__right_small {
    display: block;
    z-index: 10;
    border: 23px solid transparent;
    border-left: 33px solid #2869E8CC;
    position: absolute;
    right: -52.5px;
    cursor: pointer;
}

.question:hover .question-triangle__left_small {
    display: block;
    z-index: 11;
    border: 23px solid transparent;
    border-right: 33px solid #2869E8CC;
    position: absolute;
    left: -53.5px;
    cursor: pointer;
}


/*question HOVER STANDART style*/
.question:hover .question-triangle__right_standart {
    display: block;
    z-index: 12;
    border: 30px solid transparent;
    border-left: 34px solid #2869E8CC;
    position: absolute;
    right: -61.5px;
}

.question:hover .question-triangle__left_standart {
    display: block;
    z-index: 13;
    border: 30px solid transparent;
    border-right: 34px solid #2869E8CC;
    position: absolute;
    left: -61.5px;
}


/* triangle states*/
 .question-triangle__right_small_correct {
    border-left: 33px solid #51B366;
}
.question-triangle__right_small_correct:before {
    display: block;
    z-index: 14;
    content: "";
    border: 23px solid transparent;
    border-left: 34px solid #51B3660D;
    position: absolute;
    left: -35px;
    top: -23px;
    width: 30px;
}

.question:hover .question-triangle__right_small_correct:before {
    border-left: 34px solid #FFFFFF;
}

.question-triangle__left_small_correct {
    border-right: 33px solid #51B366;
}

.question-triangle__left_small_correct:before {
    display: block;
    z-index: 15;
    content: "";
    border: 23px solid transparent;
    border-right: 34px solid #51B3660D;
    position: absolute;
    right: -35px;
    top: -23px;
    width: 30px;
}

.question-triangle__right_small_wrong {
    border-left: 33px solid #EC5974;
}
.question-triangle__right_small_wrong:before {
    display: block;
    z-index: 16;
    content: "";
    border: 23px solid transparent;
    border-left: 34px solid #EC59740D;
    position: absolute;
    left: -35px;
    top: -23px;
    width: 30px;
}

.question-triangle__left_small_wrong {
    border-right: 33px solid #EC5974;
}
.question-triangle__left_small_wrong:before {
    display: block;
    z-index: 17;
    content: "";
    border: 23px solid transparent;
    border-right: 34px solid #EC59740D;
    position: absolute;
    right: -35px;
    top: -23px;
    width: 30px;
}

.question-triangle__right_small_selected {
    border-left: 33px solid #2869E8CC;
}
.question-triangle__right_small_selected:before {
    display: block;
    z-index: 18;
    content: "";
    border: 23px solid transparent;
    border-left: 34px solid #2869E866;
    position: absolute;
    right: -52.5px;
    top: -23px;
    width: 30px;
}
.question-triangle__left_small_selected {
    border-right: 33px solid #2869E8CC;
}
.question-triangle__left_small_selected:before {
    display: block;
    z-index: 19;
    content: "";
    border: 23px solid transparent;
    border-right: 34px solid #2869E866;
    position: absolute;
    right: -35px;
    top: -23px;
    width: 30px;
}

.question-triangle__right_standart_selected {
    border-left: 34px solid #2869E8CC;
}
.question-triangle__right_standart_selected:before {
    display: block;
    z-index: 20;
    content: "";
    border: 32px solid transparent;
    border-left: 35px solid #2869E866;
    position: absolute;
    left: -37.5px;
    top: -32px;
    width: 105px;
}
.question-triangle__left_standart_selected {
    border-right: 34px solid #2869E8CC;
}
.question-triangle__left_standart_selected:before {
    display: block;
    z-index: 21;
    content: "";
    border: 32px solid transparent;
    border-right: 35px solid #2869E866;
    position: absolute;
    left: -134.5px;
    top: -32px;
    width: 105px;
}
.question-triangle__right_standart_wrong {
    border-left: 34px solid #EC5974;
}
.question-triangle__right_standart_wrong:before {
    display: block;
    z-index: 20;
    content: "";
    border: 32px solid transparent;
    border-left: 35px solid #EC59740D;
    position: absolute;
    left: -37.5px;
    top: -32px;
    width: 105px;
}
.question-triangle__left_standart_wrong {
    border-right: 34px solid #EC5974;
}
.question-triangle__left_standart_wrong:before {
    display: block;
    z-index: 21;
    content: "";
    border: 32px solid transparent;
    border-right: 35px solid #EC59740D;
    position: absolute;
    left: -134.5px;
    top: -32px;
    width: 105px;
}

.question-triangle__right_standart_correct {
    border-left: 34px solid #51B366;
}
.question-triangle__right_standart_correct:before {
    display: block;
    z-index: 20;
    content: "";
    border: 32px solid transparent;
    border-left: 35px solid #51B3660D;
    position: absolute;
    left: -37.5px;
    top: -32px;
    width: 105px;
}
.question-triangle__left_standart_correct {
    border-right: 34px solid #51B366;
}
.question-triangle__left_standart_correct:before {
    display: block;
    z-index: 21;
    content: "";
    border: 32px solid transparent;
    border-right: 35px solid #51B3660D;
    position: absolute;
    left: -134.5px;
    top: -32px;
    width: 105px;
}

/*question components style*/
.question-letter {
    display: inline-block;
    margin: 24.5px 8px 24.5px 32px;
    font-size: 1em;
    font-weight: bolder;
    color: rgba(40, 105, 232, 0.8);
}

.question-value {
    display: inline-block;
    font-size: 1em;
    color: #1C1C21;
}